@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b2a2a;
    border-radius: 5px;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #424242;
}

/* Markdown Styles */



